huggingface-hub[cli]
transformers==4.51.1
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
triton==3.2.0
timm==1.0.15
datasets==3.5.0
accelerate==1.6.0
gemlite==0.4.4
hqq==0.2.5
vllm
optimum
auto-gptq --extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/
peft